ul  {
    list-style-type: none
}

.message {
    margin-bottom: 10px;
    color: white;
    background-color: #5ea3d0;
    border-radius: 8px;
    padding: 4px 8px;
    max-width: auto;
    display: inline-block
}

.email {
    font-size: 10px;
    opacity: 0.9;
    color: #3e5869
}

.messages {
    max-width: 80%;
}

.message-list {
    box-sizing: border-box;
    overflow: scroll;
    height: 400px
}

.message-form {
    display: flex;
    justify-content: center
}

.edit-button {
    font-size: 12px;
    background-color: green;
    color: white;
    padding: 0px 1px;
    margin: 5px;
}
.delete-button {
    font-size: 12px;
    background-color: #50626e;
    color: white;
    padding: 0px 1px;
    margin: 5px;
}